<footer class="bg-dark text-white">
    <div class="container">
        <div class="row">
            <div class="col-md-6 p-3">
                <h4>Lookout Looking Glass</h4>
                <div class="row">
                    <div class="col-auto">
                        <h5>Source</h5>
                        <p>
                            <a href="https://github.com/rappet/lookout" class="badge badge-secondary" target="blank_">
                                <i class="fab fa-github"></i> GitHub
                            </a>
                        </p>
                    </div>
                    <div class="col-auto">
                        <h5>Author</h5>
                        <p>
                            <a href="https://twitter.com/rappet_" class="badge badge-primary" target="blank_">
                                <i class="fab fa-twitter"></i> Twitter
                            </a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 p-3">
                <h4>Something</h4>
            </div>
        </div>
    </div>
</footer>