{% extends "components/template.html" %} {% block content %}
<div class="row">
    <div class="col-12">
        <form action="/" method="GET">
            <div class="input-group mb-1">
                <input type="text" class="form-control" name="target" id="target" value="{{ params.target }}"
                    placeholder="x.x.x.x, xxxx:xxxx::xxxx, example.com" required>
                <div class="input-group-append">
                    <button type="submit" class="btn btn-outline-secondary">Probe</button>
                </div>
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <div class="input-group-text">
                        <input type="checkbox" aria-label="Raw output (no tables)" value="true" name="rawoutput"
                            id="rawOutput" {% if params.rawoutput %}checked{% endif %}>
                        <label class="form-check-label ml-2" for="rawOutput">
                            <i class="fas fa-align-left"></i> Raw output<span class="d-none d-md-inline"> (no tables)</span> 
                        </label>
                    </div>
                </div>
                <select class="custom-select" id="commandSelect" name="command">
                    <option value="ping" {%- if params.command=="ping" %}selected{% endif %}>
                        <i class="fas fa-table-tennis"></i> ping
                    </option>
                    <option value="traceroute" {%- if params.command=="traceroute" %}selected{% endif %}>
                        <i class="fas fa-road"></i> traceroute
                    </option>
                    <option value="mtr" {%- if params.command=="mtr" %}selected{% endif %}>
                        <i class="fas fa-table"></i> mtr
                    </option>
                </select>
            </div>
        </form>
    </div>

    <div class="col-12">
        {% block output %} {% endblock output %}
    </div>
</div>
{% endblock content %}