{% extends "components/template.html" %} {% block content %}
<div class="row">
    <div class="col-lg-4 order-lg-2">
        <form class="sticky-top" action="/" method="GET">
            <h3 class="mb-3">Commands</h3>
            <div class="my-3">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="command" id="commandPing" value="ping" {% if params.command=="ping" %}checked{% endif %}>
                    <label class="form-check-label" for="commandPing">
                        ping
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="command" id="commandTraceroute" value="traceroute" {% if params.command=="traceroute" %}checked{% endif %}>
                    <label class="form-check-label" for="commandTraceroute">
                        traceroute
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="command" id="commandMtr" value="mtr" {% if params.command=="mtr" %}checked{% endif %}>
                    <label class="form-check-label" for="commandMtr">
                        mtr
                    </label>
                </div>
            </div>

            <h3 class="mb-3">Arguments</h3>
            <div class="form-group mb-3">
                <label for="target">IP/Hostname</label>
                <input type="text" class="form-control" name="target" id="target" value="{{ params.target }}" placeholder="x.x.x.x/x, xxxx:xxxx::xxxx/xx, example.com">
            </div>
            <div class="form-check mb-3">
                <input class="form-check-input" type="checkbox" value="true" name="rawoutput" id="rawOutput" {% if params.rawoutput %}checked{% endif %}>
                <label class="form-check-label" for="rawOutput">
                    Raw output (no tables)
                </label>
            </div>
            <div class="mb-3">
                <button type="submit" class="btn btn-primary">Probe</button>
            </div>
        </form>
    </div>
    <div class="col-lg-8 order-lg-1">
        {% block output %} {% endblock output %}
    </div>
</div>
{% endblock content %}